<template>
  <div class="about">
  	<div>
  		<h3>Proyecto Fan Marvel</h3>	
  	</div>
  	<div>
	    <p>
	    	Este es un proyecto academico, para el modulo de proceso de software personal, desarrollado por:
	    </p>
	    <ul>
	    	<li>William Huertas</li>
	    </ul>  		
  	</div>
  </div>
</template>

<style type="text/css">
	.about{
		display: grid;
		grid-template-rows: auto 600px;
	}
	.about ul{
		list-style-type: none;
	}
</style>
