<template>
  <div class="home">
    <personajes/>
  </div>
</template>

<script>
// @ is an alias to /src
import personajes from '@/components/personajes.vue'

export default {
  name: 'Home',
  components: {
    personajes
  }
}
</script>
