<template>
  <div id="nav">
    <div id="nav-der">
      <img src="/img/logo_1.png" alt="">
    </div>
    <div id="nav-izq">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>        
    </div>
  </div>	
</template>