<template>
	<div id="app_footer">
		<div></div>
		<div></div>
		<div id="date_footer">
			<span>2020 WAHC</span>
		</div>
	</div>
</template>

<style type="text/css">
	#app_footer{
		min-height: 200px;
		margin: 20px 0;
		background-color: #383636;
		color: white;
		display: grid;
		grid-template-rows: 100px 70px 30px;
	}

	#date_footer{
		font-size: 12px;
	}

</style>