<template lang="html">
	<div id="contenedor_personajes">
		<div id="titulo_personajes" >
			<h2>PERSONAJES DE MARVEL</h2>
		</div>		
		<br/>
		<div class="contenedor_de_tarjetas">
			<div class="tarjeta" v-for="personaje in personajes">
				<div class="tarjeta-imagen">
					<img :src="urlsThumbnail[personaje.id]" alt="" class="img-thumbnail">
				</div>
			  <div class="tarjeta-cuerpo">
			    <h4 class="card-title">{{personaje.name}}</h4>
			    <router-link :to="{ name: 'personaje', params: { id: personaje.id }}" >
						<button type="button" class="btn-ver">Ver mas...</button>
			    </router-link>
			  </div>			
			</div>
		</div>
	</div>
</template>

<script>
import {marvel_end_point, secret_key, public_key} from '../marvel_api'
import axios from 'axios';
import md5 from 'md5';

export default {

  name: 'Personajes',

  data() {
  	return {
  		personajes:[],
  		urlsThumbnail:{},
  		tamañoImagen:'portrait_medium',
  	}
  },

  computed: {
      hashed () {
      	let ts = this.unixtime;
        let concat = ts + secret_key + public_key;
        return md5(concat)
      
  		},
  		unixtime () {
        let datenow = Date.now()
        var ts = Math.floor(datenow / 1000)
        return ts
      } 
   },

  mounted() {
  	this.getPersonajes()
  },

  methods: {
  	getPersonajes: function(){
  		axios.get(`${marvel_end_point}characters`, {
        params: {
        	ts: this.unixtime,
          apikey: public_key,
          hash: this.hashed,
          limit: 100,
        }
      })
  		.then((result) => {
  			result.data.data.results.forEach((item) => {
  				console.log()
  				this.personajes.push(item)
  				this.urlsThumbnail[item.id] = `${item.thumbnail.path}/${this.tamañoImagen}.${item.thumbnail.extension}`;
  			})
  		})
  		.catch((error) => {
  			console.log(error)
  		})
  	}
  }
}
</script>

<style lang="css" scoped>
#contenedor_personajes{
	display: grid;
	grid-template-rows: auto auto auto;
}
#titulo_personajes{
	background-color: #246385;
	color: white;
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
}
#titulo_personajes h3{
	padding: 35px;
}
.contenedor_de_tarjetas{
	display: grid;
	grid-template-columns: repeat(3, 300px);
	grid-auto-rows: 300px;
	grid-gap: 30px;
	justify-content: center;
}
.tarjeta{
	background: #cadde8;
	display: grid;
	grid-template-rows: 50% 50%;
	border: 1px solid rgba(0,0,0,.125);
}
.tarjeta-cuerpo{
	background-color: white;
}
.btn-ver{
	padding: 10px;
	margin-top: 20px;
	border-radius: 15px;
	width: 150px;
	cursor: pointer;
}
</style>