<template lang="html">
	
	<div class="personaje-contenedor" >
		<div>
			<h2>{{personajeNombre}}</h2>
		</div>
		<div>
			<img :src="urlThumbnail">
		</div>
		<div>
			<p>{{personajeDescripcion}}</p>
		</div>	
	</div>

</template>

<script type="text/javascript">
import {marvel_end_point, secret_key, public_key} from '../marvel_api'
import axios from 'axios';
import md5 from 'md5';

export default {
	name: 'Personaje',

  data() {
  	return {
  		personajeNombre: '',
  		personajeDescripcion: '',
  		urlThumbnail: '',
  		tamañoImagen: 'portrait_incredible',
  		formatoImagen: 'jpg',
  	}
  },

  computed: {
      hashed () {
      	let ts = this.unixtime;
        let concat = ts + secret_key + public_key;
        return md5(concat)
      
  		},
  		unixtime () {
        let datenow = Date.now()
        var ts = Math.floor(datenow / 1000)
        return ts
      } 
   },

  mounted() {
  	this.getPersonaje()
  },

	methods: {
		getPersonaje: function(){
			var personajeId = this.$route.params.id
  		axios.get(`${marvel_end_point}characters/${personajeId}`, {
        params: {
        	ts: this.unixtime,
          apikey: public_key,
          hash: this.hashed
        }
      })
  		.then((result) => {
  			result.data.data.results.forEach((item) => {
  				this.personajeNombre = item.name;
  				this.personajeDescripcion = item.description;
  				this.urlThumbnail = `${item.thumbnail.path}/${this.tamañoImagen}.${this.formatoImagen}`;
  			})
  		})
  		.catch((error) => {
  			console.log(error)
  		})
		}
	}
}
	
</script>

<style type="text/css">
	.personaje-contenedor{
		display: grid;
		grid-template-rows: auto auto auto;
	}
</style>