<template>
  <div id="app" class="app">
    <app_header/>
    <router-view/>
    <app_footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import app_header from '@/components/app_header.vue'
import app_footer from '@/components/app_footer.vue'


export default {
  name: 'app',
  components: {
    app_header,
    app_footer,
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: grid;
  grid-template-rows: auto auto auto;
  min-height: 850px;
}

#nav {
  display: grid;
  grid-auto-rows: auto;  
  padding: 30px;
}

#nav-der {
  max-height: 200px;
}

#nav-izq {

}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #a61c12;
}

body{
  margin: 0;
}
</style>
